# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd

# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/
.cache/
.coverage

# VSCode
.vscode/

# PyCharm
.idea/

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы тестов / временные
*.tmp
tmp/
